.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.streamlit/secrets.toml

data/raw/*.bz2
data/raw/archive.zip
archive.zip

*.db

.DS_Store
Thumbs.db
data/processed/*.csv
data/processed/*.csv
models/*.joblib
